.root {
    -st-states: vertical, showTicks;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none !important;
}

.root * {
    box-sizing: border-box;
}

.track {
    width: 100%;
    height: 25%;
    position: relative;
    cursor: pointer;
    background: #dadada;
    opacity: 1;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid transparent;
}

.inner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.trackFill {
    position: absolute;
    background: linear-gradient(to right, #4992e3, #70bff3);
    height: 100%;
    width: 100%;
}

.root:showTicks .inner {
    height: 88.888%;
    width: 100%;
}

.root:vertical .track {
    width: 25%;
    height: 100%;
}

.root:vertical .trackFill {
    background: linear-gradient(to top, #4992e3, #70bff3);
}

.root:vertical:showTicks .inner {
    width: 88.888%;
    height: 100%;
}

.handle {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.thumbShape {
    width: 100%;
    height: 100%;
    background: green;
    border: 2px solid blue;
}

.tooltip:tooltipTop {
    top: -7px;
    transform: translate(-50%, -100%);
}

.tooltip:tooltipTop::after {
    border-color: #363636 transparent transparent transparent;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
}

.tooltip:tooltipBottom {
    bottom: -7px;
    transform: translate(-50%, 100%);
}

.tooltip:tooltipBottom::after {
    border-color: transparent transparent #363636 transparent;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
}

.root:vertical .tooltip {
    top: 50%;
}

.root:vertical .tooltip::after {
    top: 50%;
    margin-top: -5px;
    margin-left: 0;
}

.root:vertical .tooltip:tooltipLeft {
    left: -7px;
    transform: translate(-100%, -50%);
}

.root:vertical .tooltip:tooltipLeft::after {
    left: 100%;
    border-color: transparent transparent transparent #363636;
}

.root:vertical .tooltip:tooltipRight {
    right: -7px;
    transform: translate(100%, -50%);
}

.root:vertical .tooltip:tooltipRight::after {
    right: 100%;
    border-color: transparent #363636 transparent transparent;
}

.tooltip {
    -st-states: tooltipTop, tooltipBottom, tooltipLeft, tooltipRight;
    position: absolute;
    background: #363636;
    color: #fff;
    padding: 4px 12px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    left: 50%;
}

.tooltip::after {
    content: ' ';
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.tick {
    display: inline-block;
    position: absolute;
    background: #000;
    cursor: pointer;
}
