:import {
  -st-from: "../popover/Popover.st.css";
  -st-default: Popover;
}

.root {
  -st-extends: Popover;
}

.root::popoverContent {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
