:import {
  -st-from: "../../baseComponents/Popover/PopoverStyle.st.css";
  -st-default: Popover;
}

:import {
  -st-from: "../../baseComponents/Popover/Popover.st.css";
  -st-default: BasePopover;
}

:vars {
  backgroundColor: white;
  borderWidth: 1px;
  borderStyle: solid;
  borderColor: black;
  borderRadius: 10px;
  padding: 5px;
}

.root {
  -st-extends: BasePopover;
  -st-mixin: Popover(
    borderColor value(borderColor)
  );
}

.root::popoverContent {
  background-color: value(backgroundColor);
  border-width: value(borderWidth);
  border-style: value(borderStyle);
  border-color: value(borderColor);
  border-radius: value(borderRadius);
  padding: value(padding);
}