:import {
  -st-from: '../theme.st.css';
  -st-default: BackofficeTheme;
}

:import {
  -st-from: '../../../components/avatar/avatar.st.css';
  -st-default: Avatar;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: B40, D80;
}

:import {
  -st-from: "../text.st.css";
  -st-named: sizeMedium, sizeSmall, weightBold;
} 

:import {
  -st-from: "../heading.st.css";
  -st-named: h6;
}

:vars {
  gradientRotation: 225deg;
  backgroundGradientBlue: linear-gradient(value(gradientRotation), #389aec, #4ebcf5);
  defaultBackgroundImage: value(backgroundGradientBlue);
}

.avatar {
  -st-extends: Avatar;
}

BackofficeTheme .avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: value(B40);
  background-image: value(defaultBackgroundImage);
  color: value(D80);

  height: 48px;
  width: 48px;
  border-radius: 30px; 
}

/* Colors */
BackofficeTheme .avatar.colorBlue {
  background-image: value(backgroundGradientBlue);
}

BackofficeTheme .avatar.colorGreen {
  background-image: linear-gradient(value(gradientRotation), #4eb968, #5bca90);
}

BackofficeTheme .avatar.colorGrey {
  background-image: linear-gradient(value(gradientRotation), #6f819d 4%, #829bb0);
}

BackofficeTheme .avatar.colorRed {
  background-image: linear-gradient(value(gradientRotation), #ee6a51, #ff6686);
}

BackofficeTheme .avatar.colorOrange {
  background-image: linear-gradient(value(gradientRotation), #fb6b33, #ffaf48);
}

/* Sizes */
BackofficeTheme .avatar.size90 {
  height: 90px;
  width: 90px;
  border-radius: 45px;
}

BackofficeTheme .avatar.size72 {
  height: 72px;
  width: 72px;
  border-radius: 36px;
}

BackofficeTheme .avatar.size60 {
  height: 60px;
  width: 60px;
  border-radius: 36px;
}

BackofficeTheme .avatar.size48 {
  height: 48px;
  width: 48px;
  border-radius: 30px;
}

BackofficeTheme .avatar.size36 {
  height: 36px;
  width: 36px;
  border-radius: 21px;
}

BackofficeTheme .avatar.size30 {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

BackofficeTheme .avatar.size24 {
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

BackofficeTheme .avatar.size18 {
  height: 18px;
  width: 18px;
  border-radius: 12px;
}

/* Sizes text */
BackofficeTheme .avatar::text {
  -st-mixin: sizeSmall, weightBold;
}

BackofficeTheme .avatar.size90::text,
BackofficeTheme .avatar.size72::text  {
  -st-mixin: sizeMedium;
}

BackofficeTheme .avatar.size36::text,
BackofficeTheme .avatar.size30::text  {
  -st-mixin: h6;
}

BackofficeTheme .avatar.size24::text,
BackofficeTheme .avatar.size18::text  {
  visibility: hidden;
}



