:import {
  -st-from: '../theme.st.css';
  -st-default: BackofficeTheme;
}

:import {
  -st-from: '../../../components/avatar/avatar.st.css';
  -st-default: Avatar;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: B40, D80;
}

:import {
  -st-from: "../text-temp.st.css";
  -st-named: sizeMedium, sizeSmall, weightBold;
} 

:import {
  -st-from: "../heading.st.css";
  -st-named: h6;
}

:vars {
  gradientRotation: 225deg;
  backgroundGradientBlue: linear-gradient(value(gradientRotation), #389aec, #4ebcf5);
  defaultBackgroundImage: value(backgroundGradientBlue);
}

BackofficeTheme Avatar {
  outline: none;

  background-color: value(B40);
  background-image: value(defaultBackgroundImage);
  color: value(D80);

  height: 48px;
  width: 48px;
  border-radius: 30px; 
}

/* Colors */
BackofficeTheme Avatar.colorBlue {
  background-image: value(backgroundGradientBlue);
}

BackofficeTheme Avatar.colorGreen {
  background-image: linear-gradient(value(gradientRotation), #4eb968, #5bca90);
}

BackofficeTheme Avatar.colorGrey {
  background-image: linear-gradient(value(gradientRotation), #6f819d 4%, #829bb0);
}

BackofficeTheme Avatar.colorRed {
  background-image: linear-gradient(value(gradientRotation), #ee6a51, #ff6686);
}

BackofficeTheme Avatar.colorOrange {
  background-image: linear-gradient(value(gradientRotation), #fb6b33, #ffaf48);
}

/* Sizes */
BackofficeTheme Avatar.size90 {
  height: 90px;
  width: 90px;
  border-radius: 45px;
}

BackofficeTheme Avatar.size72 {
  height: 72px;
  width: 72px;
  border-radius: 36px;
}

BackofficeTheme Avatar.size60 {
  height: 60px;
  width: 60px;
  border-radius: 36px;
}

BackofficeTheme Avatar.size48 {
  height: 48px;
  width: 48px;
  border-radius: 30px;
}

BackofficeTheme Avatar.size36 {
  height: 36px;
  width: 36px;
  border-radius: 21px;
}

BackofficeTheme Avatar.size30 {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

BackofficeTheme Avatar.size24 {
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

BackofficeTheme Avatar.size18 {
  height: 18px;
  width: 18px;
  border-radius: 12px;
}

/* Sizes text */
BackofficeTheme Avatar::contentText {
  -st-mixin: sizeSmall, weightBold;
}

BackofficeTheme Avatar.size90::contentText,
BackofficeTheme Avatar.size72::contentText  {
  -st-mixin: sizeMedium;
}

BackofficeTheme Avatar.size36::contentText,
BackofficeTheme Avatar.size30::contentText  {
  -st-mixin: h6;
}

BackofficeTheme Avatar.size24::contentText,
BackofficeTheme Avatar.size18::contentText  {
  visibility: hidden;
}



