:root {}

.headerIcons > *:not(:last-child) {
  margin-right: 18px;
}


.search {
  position: relative;
  margin: 30px 0;
}

.searchInput {
  width: 354px;
  padding-left: 36px;
}

.searchIcon {
  position: absolute;
  top: 6px;
  left: 6px;
  color: #3899ec
}
