.root {
  -st-states: loaded(boolean)
}

.loader {

}

.captcha {

}

.root:loaded .captcha {
    display: block;
}

.root .captcha {
    display: none;
}

.root .loader {
    overflow: hidden;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 72px;
    height: 72px;
    margin-left: 36px;
}


