.root {
    -st-states: loaded(boolean);
    /* we set this to relevant so we can position the hidden checkbox(root .checkbox) relatie to the captcha */
    position: relative;
}

.loaderWrapper {

}

.captcha {

}

.root:loaded .captcha {
    display: block;
}

.root:loaded .loaderWrapper {
    display: none;
}

.root .captcha {
    display: none;
}
/* a hidden check box that will give the captcha a required input element capabilities */
.root .checkbox {
    position: absolute;
    opacity : 0.0;
    top: 0;
    left: 0;
}
