@import "../../ui/typography.scss";
@import "../../ui/colors.scss";

.container {
  display: flex;
  max-width: 100%;
  border-bottom: 1px solid transparent;
  margin-bottom: 66px;
  margin-top: -30px;
}

.itemsContainer {
  min-width: 628px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab {
  @include font();
  @include fontWeight(medium);
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding: 18px 18px 16px;
  margin: 0 0 -1px;
  border-top: 3px solid transparent;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: $D10;
}

.active {
  color: $B10;
  border-color: $B10;
}

.hasDivider {
  border-color: #DFE5EB;
}
