:vars {
  tickerInset: 6px;
  borderWidth: 0px;
}

.root {
  -st-states: rtl;
  position: absolute;
  right: value(tickerInset);
  top: value(borderWidth);
  height: calc(100% - 2 * value(borderWidth));
  display: flex;
  flex-direction: column;
  z-index: 1;
}

:global(html[dir="rtl"]) .root {
  right: auto;
  left: value(tickerInset);
}

.root:rtl {
  right: auto;
  left: value(tickerInset);
}

.ticker {
  border: none;
  outline: none;
  cursor: pointer;
  stroke: black;
  background-color: transparent;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
