@import "../../../ui/typography.scss";
@import '../../../ui/colors.scss';

.root {
  @include font();
  @include fontWeight(bold);
  font-size: 28px;
  line-height: 36px;
  color: $D10;
  margin: 0 0 60px;
}
