:import {
  -st-from: "./ToggleSwitch.st.css";
  -st-default: ToggleSwitch;
}

:import {
  -st-from: "../../utils/css-utils/calc";
  -st-default: calc
}

:vars {
  rootWidth: 48px;
  rootHeight: 24px;
  trackWidth: value(rootWidth);
  trackHeight: value(rootHeight);
  knobWidth: calc(value(rootHeight) / 1.2);
  knobHeight: calc(value(rootHeight) / 1.2);
  knobMovementRange: calc(value(trackWidth)/2 - value(knobWidth)/2 - 1);
}

.root {
  -st-extends: ToggleSwitch;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: value(rootWidth);
  height: value(rootHeight);
  box-sizing: border-box;
}

.root::track {
  box-sizing: border-box;
  width: value(trackWidth);
  height: value(trackHeight);
  border-radius: calc(value(trackHeight) / 2);
}

.root::knob {
  position: absolute;
  box-sizing: border-box;
  width: value(knobWidth);
  height: value(knobHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(value(knobHeight) / 2);
  transform: translateX(calc(-1 * value(knobMovementRange)));
}

.root::knobIcon {
  width: calc(value(knobHeight) / 2);
  height: calc(value(knobHeight) / 2);
}

.root::knobIcon > svg {
  display: block;
  width: 100%;
  height: 100%;
}

.root:checked::knob,
:global([dir="rtl"]) .root::knob {
  transform: translateX(value(knobMovementRange));
}

:global([dir="rtl"]) .root:checked::knob {
  transform: translateX(calc(-1 * value(knobMovementRange)));
}
