.tag {
  cursor: pointer;
  width: auto;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.tag * {
  cursor: pointer;
}

.tagInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
