:import {
    -st-from: "../../../components/number-input/NumberInput.st.css";
    -st-default: NumberInput;
}
:import {
  -st-from: '../colors.st.css';
  -st-named:
        B27,
        D40, D50;
}
:import {
  -st-from: '../typography.st.css';
  -st-named:
        fontRoman;
}
:import {
  -st-from: '../shadows.st.css';
  -st-named:
        focusShadow;
}
:import {
    -st-from: "../mixins.st.css";
    -st-named:
        inputStyle;
}

:vars {
    iconChevronUpDefault: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iIzM4OTlFQyIgZD0iTTguNjQ2IDUuNzA4TDkuMzU0IDUgNSAuNjQ3LjY0NiA1bC43MDguNzA4TDUgMi4wNiIvPjwvc3ZnPg==);
    iconChevronDownDefault: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iIzM4OTlFQyIgZD0iTTEuMzU0LjY0NmwtLjcwOC43MDhMNSA1LjcwN2w0LjM1NC00LjM1My0uNzA4LS43MDhMNSA0LjI5MyIvPjwvc3ZnPg==);
    iconChevronUpHover: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iIzRFQjdGNSIgZD0iTTguNjQ2IDUuNzA4TDkuMzU0IDUgNSAuNjQ3LjY0NiA1bC43MDguNzA4TDUgMi4wNiIvPjwvc3ZnPg==);
    iconChevronDownHover: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iIzRFQjdGNSIgZD0iTTEuMzU0LjY0NmwtLjcwOC43MDhMNSA1LjcwN2w0LjM1NC00LjM1My0uNzA4LS43MDhMNSA0LjI5MyIvPjwvc3ZnPg==);
    iconChevronUpDisabled: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iI2I2YzFjZCIgZD0iTTguNjQ2IDUuNzA4TDkuMzU0IDUgNSAuNjQ3LjY0NiA1bC43MDguNzA4TDUgMi4wNiIvPjwvc3ZnPg==);
    iconChevronDownDisabled: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZmlsbD0iI2I2YzFjZCIgZD0iTTEuMzU0LjY0NmwtLjcwOC43MDhMNSA1LjcwN2w0LjM1NC00LjM1My0uNzA4LS43MDhMNSA0LjI5MyIvPjwvc3ZnPg==);
    inputWidth: 360px;
    inputPadding: 12px 6px;
}


.root {
    -st-extends: NumberInput;
    -st-mixin: inputStyle;
    width: value(inputWidth);
}

.root:focus-within {
    box-shadow: value(focusShadowStyle);
}

.root::nativeInput {
    /* negating global input styles */
    height: auto;
    border: none;
    box-shadow: none;
    outline: none;
    color: inherit;
    font: inherit;
    background: none;

    padding: value(inputPadding);
    padding-right: 0;
    text-overflow: ellipsis;
}
.root::nativeInput:hover {
    border: none;
}
.root::nativeInput::placeholder {
    font: value(fontRoman);
    color: value(D40);
}
.root::nativeInput:disabled {
    background: inherit;
}
.root::nativeInput:disabled::placeholder {
    color: value(D50);
}

.root::stepper::up::after,
.root::stepper::down::after {
    content: none;
}
.root::stepper::up {
    background-image: value(iconChevronUpDefault);
    padding-top: 2px;
}
.root::stepper::up:disabled {
    cursor: default;
    background-image: value(iconChevronUpDisabled);
}
.root::stepper::up:hover {
    cursor: pointer;
    background-image: value(iconChevronUpHover);
}


.root::stepper::down {
    background-image: value(iconChevronDownDefault);
    padding-bottom: 3px;
}
.root::stepper::down:hover {
    cursor: pointer;
    background-image: value(iconChevronDownHover);
}
.root::stepper::down:disabled {
    cursor: default;
    background-image: value(iconChevronDownDisabled);
}

/* flat mode */
.flat {
    border: none;
    border-radius: 0;
    min-width: auto;
    background: transparent;
    width: 100%;
    padding: 0 12px;
}
.flat:hover,
.flat:focus-within
{
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}
.flat::nativeInput {
    border-radius: 0;
}

.flat::stepper {
    display: none;
}

/* number right */
.right::nativeInput {
    text-align: right;
}

/* small text*/
.small::nativeInput {
    font-size: 14px;
}
