.root {}

.optionsContainer {
  outline: 0;
  overflow: auto;
}

.option {}

.hover {
  background-color: lightgreen;
}

.selected {
  background-color: orange;
}

.disabled {
  background-color: blue;
}

.hover.selected {
  background-color: green;
}

