$D10: #162d3d;
$D20: #32536a;
$D30: #577083;
$D40: #7a92a5;
$D50: #b6c1cd;
$D55: #cbd3dc;
$D60: #dfe5eb;
$D70: #f0f4f7;
$D80: #ffffff;

$D10-30: rgba($D10, 0.3);

$B00: #2b81cb;
$B05: #308ddd;
$B10: #3899ec;
$B20: #4eb7f5;
$B25: #a1d7fb;
$B27: #b3e0fb;
$B30: #c1e4fe;
$B40: #daeffe;
$B50: #eaf7ff;
$B60: #f4fafe;

$F00: #aadbfc;

$P00: #8e21b1;
$P10: #aa4dc8;
$P20: #cd68ed;
$P30: #e5c9ee;
$P40: #eedbf4;
$P50: #faeeff;
$P60: #faf7fc;

$O00: #ea5f0e;
$O10: #fb7d33;
$O20: #ff9a48;

$R00: #d6453d;
$R05: #d8504c;
$R10: #ee5951;
$R20: #ff6666;
$R30: #ffd7d7;
$R40: #ffe1e1;
$R50: #ffebeb;
$R60: #fff5f5;

$G00: #44823f;
$G05: #61ad5a;
$G10: #60bc57;
$G20: #80c979;
$G30: #c9eebc;
$G40: #def4d4;
$G50: #edf9e5;
$G60: #f2fbef;

$Y00: #c68801;
$Y05: #eda200;
$Y10: #fdb10c;
$Y20: #fac249;
$Y30: #fef0ba;
$Y40: #fef4cd;
$Y50: #fdf7df;
$Y60: #fffcf0;

$S10: rgba(22, 45, 61, 0.12);
$S20: rgba(22, 45, 61, 0.48);
$S30: rgba(22, 45, 61, 0.06);
$S40: rgba(22, 45, 61, 0.18);
$S50: rgba(255, 255, 255, 0.48);

$Shadow10: 0 2px 1px 0 $S20, 0 0 3px 0 $S10;
$Shadow20: 0 2px 4px 0 $S10, 0 0 6px 0 $S10;
$Shadow30: 0 6px 6px 0 $S30, 0 0 18px 0 $S10;
$Shadow40: 0 8px 8px 0 $S10, 0 3px 24px 0 $S40;
