.button {
  padding: 0 11px;
  height: 24px;
  background-color: rgba(22, 45, 61, 0.24);
  border: 0;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  color: #fff;

  &:hover {
    background-color: rgba(22, 45, 61, 0.3)
  }
}

.radioGroup {

}

.radio {
  display: flex;
  margin-bottom: 12px;
  cursor: pointer;

  input {
    display: none;
  }
}

.radioBubble {
  width: 16px;
  height: 16px;
  border: 1px solid #3899EC;
  background-color: #FFF;
  border-radius: 50%;
  margin-right: 10px;

  &Checked {
    background-color: #3899EC;
    box-shadow: 0 0 0 2px #fff inset;
  }
}

.input {
  padding: 0 12px;
  background-color: #FFF;
  border-radius: 6px;
  border: 1px solid #C1E4FE;
  color: #162D3D;
  font-family: "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", "Helvetica Neue", "Helvetica", "Arial", "\30E1\30A4\30EA\30AA, meiryo", "\30D2\30E9\30AE\30CE\89D2\30B4 pro w3", "hiragino kaku gothic pro", "sans-serif";
  font-size: 16px;
  height: 36px;
  line-height: 34px;
  outline: 0;
}
