$fontWeight: (
  regular: var(--wix-font-weight-regular),
  medium: var(--wix-font-weight-medium),
  bold: var(--wix-font-weight-bold),
  xbold: var(--wix-font-weight-xbold)
);

$font-fallback: "Helvetica Neue", "Helvetica", "Arial", "メイリオ", "meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", "sans-serif";

@mixin font($type:false) {
  font-family: var(--wix-font-stack), $font-fallback;
}

@mixin fontWeight($type) {
  @if map-has-key($fontWeight, $type) {
    font-weight: map-get($fontWeight, $type);
  } @else {
    font-weight: 400;
  }
}
