@import '../ui/typography.scss';

.page {
  margin: 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 30px 0;
  max-width: 1161px;
  width: 100%;
}

.header {
   margin-bottom: 30px;
}

.title {
  font-size: 36px;
  line-height: 1.33;
  color: #162d3d;
}

.subtitle {
  @include font(medium);
  font-size: 16px;
  line-height: 1.5;
  color: #32536a;
}

.title,
.subtitle {
  @include font(medium);
  font-weight: 500;
}

.section {
  margin-bottom: 30px;
}

.section-title {
  @include font(roman);
  font-size: 20px;
  margin-bottom: 30px;
}

.tab {
  margin-bottom: 30px;
}