.root {
  -st-states: checked, disabled, focus;
  display: inline-flex;
  align-items: center;
  position: relative;
  outline: none;
}

.root:not(:disabled) {
  cursor: pointer;
}

.nativeInput {
  display: none;
}

.track {}

.knob {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1px;
  top: 1px;
}

.knobIcon {}
