:import {
  -st-from: "../Popover/PopoverStyle.st.css";
  -st-default: Popover;
}

:import {
  -st-from: "../DropdownContent/DropdownContentStyle.st.css";
  -st-default: DropdownContent;
}

:vars {
  /** Background color of the dropdown content */
  contentBackgroundColor: initial;
  /** Border width of the dropdown content */
  contentBorderWidth: 1px;
  /** Border style of the dropdown content */
  contentBorderStyle: initial;
  /** Border color of the dropdown content */
  contentBorderColor: black;
  /** Border radius of the dropdown content */
  contentBorderRadius: initial;
  /** Content padding for the dropdown content */
  contentPadding: initial;
  /** Size of the arrow of the dropdown content */
  contentArrowSize: 5px;
  /** Option background color when hovered */
  optionHoverBackgroundColor: initial;
  /** Option background color when selected */
  optionSelectedBackgroundColor: initial;
  /** Option background color when selected & hovered */
  optionSelectedHoverBackgroundColor: initial;
  /** Option background color when disabled */
  optionDisabledBackgroundColor: initial;
}

.root {
  -st-mixin: Popover(
    backgroundColor value(contentBackgroundColor),
    borderWidth value(contentBorderWidth),
    borderStyle value(contentBorderStyle),
    borderColor value(contentBorderColor),
    borderRadius value(contentBorderRadius),
    padding value(contentPadding),
    arrowSize value(contentArrowSize)
  );
}

.dropdownContent {
  /* -st-mixin: DropdownContent(
    optionHoverBackgroundColor value(optionHoverBackgroundColor),
    optionSelectedBackgroundColor value(optionSelectedBackgroundColor),
    optionSelectedHoverBackgroundColor value(optionSelectedHoverBackgroundColor),
    optionDisabledBackgroundColor value(optionDisabledBackgroundColor)
  ); */
}
