:import {
  -st-from: "./horizontal-menu-item/HorizontalMenuItem.st.css";
  -st-default: HorizontalMenuItem;
}

:import {
  -st-from: "./horizontal-menu-grid-layout/HorizontalMenuGridLayout.st.css";
  -st-default: HorizontalMenuGridLayout;
}

:import {
  -st-from: "./horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.st.css";
  -st-default: HorizontalMenuColumnsLayout;
}

:vars {
  menuBackgroundColor: lightgray;
  menuBorderWidth: 1;
  menuBorderColor: gray;
  dividerColor: black;
  dividerSize: 2;
}

.root {
  -st-states: withEqualItemWidth;

  list-style: none;
}

.divider {
  width: value(dividerSize)px;
  background-color: value(dividerColor);
}

.menu {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  height: 100%;

  margin: 0;
  padding: 0;

  background-color: value(menuBackgroundColor);
  border: value(menuBorderWidth)px value(menuBorderColor) solid;

  list-style: none;
}

.root > HorizontalMenuItem {
  display: flex;
}

.root:withEqualItemWidth > .menu > HorizontalMenuItem {
  flex: 1;
}


/* menu item */
.menuItem {
  -st-extends: HorizontalMenuItem;
}

/* grid layout */
.gridLayout {
  -st-extends: HorizontalMenuGridLayout;
}

/* columns layout */
.columnsLayout {
  -st-extends: HorizontalMenuColumnsLayout;
}
