:import {
  -st-from: "../../baseComponents/Dropdown/DropdownStyle.st.css";
  -st-default: Dropdown;
}

:vars {
  /** Background color of the dropdown content */
  contentBackgroundColor: white;
  /** Border width of the dropdown content */
  contentBorderWidth: 1px;
  /** Border style of the dropdown content */
  contentBorderStyle: solid;
  /** Border color of the dropdown content */
  contentBorderColor: black;
  /** Border radius of the dropdown content */
  contentBorderRadius: 6px;
  /** Content padding for the dropdown content */
  contentPadding: 0px;
  /** Size of the arrow of the dropdown content */
  contentArrowSize: 5px;
  /** Option background color when hovered */
  optionHoverBackgroundColor: lightgreen;
  /** Option background color when selected */
  optionSelectedBackgroundColor: orage;
  /** Option background color when selected & hovered */
  optionSelectedHoverBackgroundColor: green;
  /** Option background color when disabled */
  optionDisabledBackgroundColor: blue;
}

.root {
  -st-mixin: Dropdown(
    contentBackgroundColor value(contentBackgroundColor),
    contentBorderWidth value(contentBorderWidth),
    contentBorderStyle value(contentBorderStyle),
    contentBorderColor value(contentBorderColor),
    contentBorderRadius value(contentBorderRadius),
    contentPadding value(contentPadding),
    contentArrowSize value(contentArrowSize),
    optionHoverBackgroundColor value(optionHoverBackgroundColor),
    optionSelectedBackgroundColor value(optionSelectedBackgroundColor),
    optionSelectedHoverBackgroundColor value(optionSelectedHoverBackgroundColor),
    optionDisabledBackgroundColor value(optionDisabledBackgroundColor)
  );
}
