
:import {-st-from: "./dist/es/src/components/video/Video.st.css";-st-default:Video;}
.root Video{}
:import {-st-from: "./dist/es/src/components/tooltip/Tooltip.st.css";-st-default:Tooltip;}
.root Tooltip{}
:import {-st-from: "./dist/es/src/components/toggle-switch/ToggleSwitch.st.css";-st-default:ToggleSwitch;}
.root ToggleSwitch{}
:import {-st-from: "./dist/es/src/components/toggle-switch/ToggleSwitchColor.st.css";-st-default:ToggleSwitchColor;}
.root ToggleSwitchColor{}
:import {-st-from: "./dist/es/src/components/toggle-switch/ToggleSwitchLayout.st.css";-st-default:ToggleSwitchLayout;}
.root ToggleSwitchLayout{}
:import {-st-from: "./dist/es/src/components/toggle-switch/ToggleSwitchStyle.st.css";-st-default:ToggleSwitchStyle;}
.root ToggleSwitchStyle{}
:import {-st-from: "./dist/es/src/components/time-picker/Tickers.st.css";-st-default:Tickers;}
.root Tickers{}
:import {-st-from: "./dist/es/src/components/time-picker/TimePicker.st.css";-st-default:TimePicker;}
.root TimePicker{}
:import {-st-from: "./dist/es/src/components/thumbnail/Thumbnail.st.css";-st-default:Thumbnail;}
.root Thumbnail{}
:import {-st-from: "./dist/es/src/components/slider/Slider.st.css";-st-default:Slider;}
.root Slider{}
:import {-st-from: "./dist/es/src/components/radio-button/RadioButton.st.css";-st-default:RadioButton;}
.root RadioButton{}
:import {-st-from: "./dist/es/src/components/popover/Popover.st.css";-st-default:Popover;}
.root Popover{}
:import {-st-from: "./dist/es/src/components/pagination/Pagination.st.css";-st-default:Pagination;}
.root Pagination{}
:import {-st-from: "./dist/es/src/components/pagination/PaginationTest.st.css";-st-default:PaginationTest;}
.root PaginationTest{}
:import {-st-from: "./dist/es/src/components/nav-stepper/NavStep.st.css";-st-default:NavStep;}
.root NavStep{}
:import {-st-from: "./dist/es/src/components/nav-stepper/NavStepper.st.css";-st-default:NavStepper;}
.root NavStepper{}
:import {-st-from: "./dist/es/src/components/menu-item/menu-item.st.css";-st-default:MenuItem;}
.root MenuItem{}
:import {-st-from: "./dist/es/src/components/linear-progress-bar/LinearProgressBar.st.css";-st-default:LinearProgressBar;}
.root LinearProgressBar{}
:import {-st-from: "./dist/es/src/components/label-with-options/LabelWithOptions.st.css";-st-default:LabelWithOptions;}
.root LabelWithOptions{}
:import {-st-from: "./dist/es/src/components/input-with-options/InputWithOptions.st.css";-st-default:InputWithOptions;}
.root InputWithOptions{}
:import {-st-from: "./dist/es/src/components/input/Input.st.css";-st-default:Input;}
.root Input{}
:import {-st-from: "./dist/es/src/components/image/image.st.css";-st-default:Image;}
.root Image{}
:import {-st-from: "./dist/es/src/components/icon-with-options/IconWithOptions.st.css";-st-default:IconWithOptions;}
.root IconWithOptions{}
:import {-st-from: "./dist/es/src/components/dropdown-option/DropdownOption.st.css";-st-default:DropdownOption;}
.root DropdownOption{}
:import {-st-from: "./dist/es/src/components/dropdown-content/DropdownContent.st.css";-st-default:DropdownContent;}
.root DropdownContent{}
:import {-st-from: "./dist/es/src/components/dropdown/Dropdown.st.css";-st-default:Dropdown;}
.root Dropdown{}
:import {-st-from: "./dist/es/src/components/deprecated/stylable-badge/Badge.st.css";-st-default:Badge;}
.root Badge{}
:import {-st-from: "./dist/es/src/components/deprecated/stylable-badge/BadgeStyle.st.css";-st-default:BadgeStyle;}
.root BadgeStyle{}
:import {-st-from: "./dist/es/src/components/deprecated/label/Label.st.css";-st-default:Label;}
.root Label{}
:import {-st-from: "./dist/es/src/components/deprecated/divider/Divider.st.css";-st-default:Divider;}
.root Divider{}
:import {-st-from: "./dist/es/src/components/deprecated/button/Button.st.css";-st-default:Button;}
.root Button{}
:import {-st-from: "./dist/es/src/components/deprecated/button/ButtonStyle.st.css";-st-default:ButtonStyle;}
.root ButtonStyle{}
:import {-st-from: "./dist/es/src/components/circular-progress-bar/CircularProgressBar.st.css";-st-default:CircularProgressBar;}
.root CircularProgressBar{}
:import {-st-from: "./dist/es/src/components/checkbox/Checkbox.st.css";-st-default:Checkbox;}
.root Checkbox{}
:import {-st-from: "./dist/es/src/components/captcha/Captcha.st.css";-st-default:Captcha;}
.root Captcha{}
:import {-st-from: "./dist/es/src/components/button-next/button-next.st.css";-st-default:ButtonNext;}
.root ButtonNext{}
:import {-st-from: "./dist/es/src/components/avatar/avatar.st.css";-st-default:Avatar;}
.root Avatar{}
:import {-st-from: "./dist/es/src/components/autocomplete/Autocomplete.st.css";-st-default:Autocomplete;}
.root Autocomplete{}
:import {-st-from: "./dist/es/src/components/address-input/AddressInput.st.css";-st-default:AddressInput;}
.root AddressInput{}
