.root {
    display: flex;
    height: 100%;
    flex-direction: column;
    -st-states: ltr,rtl, no-label, required;
}

.fileInput {
    bottom: 0;
    opacity: 0;
    position: absolute;
    height: 0;
}

.chooseFileButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.buttonLabel {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.files {
    width: 100%;
    margin-top: 14px;
    min-width: 90px;
}

.root:ltr .buttonLabel {
    padding-left: 8px;
}

.root:rtl {
    direction: rtl;
}

.root:rtl .buttonLabel {
    padding-right: 8px;
    direction: ltr;
}

.root:no-label .buttonLabel {
    padding-right: 0;
    padding-left: 0;
}

.label {
    word-break: break-word;
    display: inline-block;
    line-height: 1;
}

.root:required .label::after {
    content: " *";
}

.plusIcon {}
