.root {
    -st-states: loadState(enum(loading, loaded, error));
}

.hiddenImage {
    -st-extends: root;  
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.imageWrapper {
    -st-extends: root;
    background-position: center;
    background-repeat: no-repeat;
}

