:import {
  -st-from: '../../themes/backoffice/colors.st.css';
  -st-named: D10, D80;
}

.root {
  -st-states: error, success, light;
  width: 100%;
  display: flex;
  align-items: center;
}

.progressIndicationSection {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barContainer {
  width: 100%;
  position: relative;
  height: 100%;
}

.barBackground, .barForeground{
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.barBackground {
  width: 100%;
}

.indicationContainer {}

.root .progressPercentage {
  color: value(D10);
}

.root:light .progressPercentage {
  color: value(D80);

}