.root {
    -st-states: disabled;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    
    box-sizing: border-box;
    text-align: left;
    cursor: text;
    outline: none;
  }
