:import {
    -st-from: '../../mixins/mixins.st.css';
    -st-named: ellipsis;
}

.root {
    -st-states: ellipsis;
}

/* ellipsis state */
.root:ellipsis {
    -st-mixin: ellipsis;
    width: 100%;
}
