:import {
  -st-from: "../horizontal-menu-item/HorizontalMenuItem.st.css";
  -st-default: HorizontalMenuItem;
}

.root {
  -st-states: expandSize(enum(column)), columnsAlignment(enum(left, center, right, justify));

  box-sizing: border-box;

  z-index: 1;

  display: none;
  min-width: 100%;

  flex: 1;

  transition: inherit;
}

.root:expandSize(column) .listWrapper {
  box-sizing: content-box;
  width: max-content;
}

.root:columnsAlignment(left) {
  justify-content: flex-start;
}

.root:columnsAlignment(center) {
  justify-content: center;
}

.root:columnsAlignment(right) {
  justify-content: flex-end;
}

.root:columnsAlignment(justify) > .listWrapper {
  width: 100%;
}

.root[data-opened="true"] {
  display: flex;
}

.listWrapper {
  break-after: avoid-column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.menuItem {
  -st-extends: HorizontalMenuItem;
}
