:import {
  -st-from: "../horizontal-menu-item/HorizontalMenuItem.st.css";
  -st-default: HorizontalMenuItem;
}

.root {
  -st-states: expandSize(enum(column));

  box-sizing: border-box;

  z-index: 1;

  display: none;

  margin: 0;
  padding: 0;

  list-style: none;

  flex: 1;

  transition: inherit;
}

.root:expandSize(column) {
  box-sizing: content-box;
  width: max-content;
}

.root[data-opened="true"] {
  display: inherit;
}

.menuItem {
  -st-extends: HorizontalMenuItem;
}
