:import {
    -st-from: "./Stepper.st.css";
    -st-default: Stepper;
}

.root {
    -st-states: focus, disabled, error;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
}

.prefix {
    display: flex;
    align-items: center;
}

.suffix {
    display: flex;
    align-items: center;
}

.nativeInput {
    -moz-appearance: textfield;
    /* making sure the input shrinks properly */
    flex: 1;
    min-width: 1px;
}
.nativeInput::-webkit-outer-spin-button,
.nativeInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stepper {
    -st-extends: Stepper;
    height: auto;
}