@import '../../ui/typography.scss';
@import '../../ui/colors.scss';

.titleContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.titleContainer:hover .link {
  background-color: $B50;
}

.link {
  color: $B10;
  border-radius: 18px;
  padding: 3px;
  margin-inline-end: 6px;
  display: flex;
  margin-inline-start: -30px;
}

.titleContainer .tooltip {
  @include font();
  @include fontWeight(regular);
  font-size: 12px;
  border-radius: 8px;
  padding: 8px 13px 7px 12px;
  box-shadow: 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12);
  background-color: $D10;
  display: flex;
  width: 60px;
  justify-content: center;
  line-height: 18px;
}

.tooltip svg {
  margin-inline-end: 5px;
  color: $G10;
}
