.root {
    position: relative;
}

.playerContainer {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000;
}

.playerContainer iframe {
    height: 100%;
    width: 100%;
    visibility: visible;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
}

.cover.transparentOverlay {
    background: transparent;
}

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.35);
}

.title {
    margin: 0 15px 15px;
    text-align: center;
}

.poster {
    height: 100%;
    width: 100%;
}
