@custom-selector :--popoverArrow .arrow path;

:vars {
  borderColor: initial;
}

.root {
  display: inline-block;
  position: relative;
}

.root .arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.root .popoverContent {
  z-index: 1000;
  min-width: 100%;
}

.root .popoverContent[data-placement="right"] {
  padding-left: 5px;
}

.root .popoverContent[data-placement="right"] .arrow {
  border-width: 5px 5px 5px 0;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 5px;
  margin-right: 0;
  border-color: transparent value(borderColor) transparent transparent;
}

.root .popoverContent[data-placement="left"] {
  padding-right: 5px;
}

.root .popoverContent[data-placement="left"] .arrow {
  border-width: 5px 0 5px 5px;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 5px;
  border-color: transparent transparent transparent value(borderColor);
}

.root .popoverContent[data-placement="bottom"] {
  padding-top: 5px;
}

.root .popoverContent[data-placement="bottom"] .arrow {
  border-width: 0 5px 5px 5px;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 5px;
  margin-bottom: 0;
  border-color: transparent transparent value(borderColor) transparent;
}

.root .popoverContent[data-placement="top"] {
  padding-bottom: 5px;
}

.root .popoverContent[data-placement="top"] .arrow {
  border-width: 5px 5px 0 5px;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 5px;
  border-color: value(borderColor) transparent transparent transparent;
}
