@import '../../ui/typography.scss';

.titles {
  margin-bottom: 24px;
}

.title {
  @include font(roman);
  font-size: 20px;
}

.subtitle {
  @include font(roman);
  margin-bottom: 30px;
  margin-top: 5px;
  font-size: 14px;
  color: #7a92a5;
}

.pretitle {
  @include font(roman);
  font-size: 12px;
  font-weight: 500;
  color: #7a92a5;
}

