@import '../../ui/typography.scss';
@import '../../ui/colors.scss';

.titles {
  margin-bottom: 12px;

  & p:first-child { margin: 0; }
}

.pretitle {
  @include font();
  @include fontWeight(regular);
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
  color: $D40;
}

.title {
  @include font();
  @include fontWeight(bold);
  font-size: 20px;
}

.subtitle {
  @include font();
  @include fontWeight(regular);
  margin-top: 5px;
  font-size: 14px;
  color: $D40;
}

.description {
  @include font();
  @include fontWeight(medium);
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: $D10;
}
