:import {
    -st-from: "../../variables.st.css";
    -st-named:
        B10,
        B30,
        B50,
        D60;
}

:import {
    -st-from: "../list/list.st.css";
    -st-default: List;
}

:import {
    -st-from: "./draggable-list-item.st.css";
    -st-default: DraggableListItem;
}

.root {
    -st-extends: List;
    -st-states: dragging;
}

.item {
    -st-extends: DraggableListItem;
    -st-states: hidden, draggable, dragging, hoverable;
}

.root:dragging .item:hover {
    background-color: none;
}

.root:dragging .item * {
    pointer-events: none;
}
