@namespace "bo-button";

:import {
  -st-from: "../../../components/ButtonV2/buttonv2.st.css";
  -st-default: ButtonV2;
}

:import {
  -st-from: "../theme.st.css";
  -st-default: BOTheme;
}

BOTheme button {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  border: 1px solid;

  outline: none;
  transition: all 100ms linear;

  height: 36px;
  border-radius: 18px;
  padding: 0 23px;

  background-color: #3899ec;
  border-color: #3899ec;
  color: white;
}

BOTheme button:hover {
  background-color: #4eb7f5;
  border-color: #4eb7f5;
}

/* affixes */
BOTheme button :not(:last-child) {
  margin-right: 12px;
}

/* rtl */
BOTheme :global([dir="rtl"]) button :not(:last-child),
:global([dir="rtl"]) BOTheme button :not(:last-child),
:global([dir="rtl"])BOTheme button :not(:last-child) {
  margin-left: 12px;
  margin-right: 0;
}

/* disabled */
BOTheme button:disabled {
  background-color: #cbd3dc;
  border-color: #cbd3dc;
}

/* error */
BOTheme button:error {
  background-color: #ee5951;
  border-color: #ee5951;
}

BOTheme button:error:hover {
  background-color: #ff6666;
  border-color: #ff6666;
}

.textButton {
  -st-extends: Button;
}
.iconButton {
  -st-extends: Button;
}

/* sizes */
BOTheme .large {
  height: 42px;
  border-radius: 21px;
  padding: 0 29px;
}

BOTheme .small {
  height: 30px;
  border-radius: 15px;
  padding: 0 17px;
}

/* skins */
BOTheme .premium {
  background-color: #aa4dc8;
  border-color: #aa4dc8;
  color: white;
}

BOTheme .premium:hover {
  background-color: #cd68ed;
  border-color: #cd68ed;
}

BOTheme .success {
  background-color: #60bc57;
  border-color: #60bc57;
  color: white;
}

BOTheme .success:hover {
  background-color: #80c979;
  border-color: #80c979;
}
