:import {
  -st-from: "../horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.st.css";
  -st-default: HorizontalMenuColumnsLayout;
}

:import {
  -st-from: "../horizontal-menu-grid-layout/HorizontalMenuGridLayout.st.css";
  -st-default: HorizontalMenuGridLayout;
}

.root {
  -st-states: expandSize(enum(column));

  transition: inherit;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

.root:expandSize(column) {
  position: relative;
}

.menuItemLink {
  cursor: pointer;
}

.expandIcon {
  display: inline-block;
}

.divider {
  display: none;
}

.linkContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.root:hover > HorizontalMenuColumnsLayout,
.root:focus > HorizontalMenuColumnsLayout,
.root:focus-within > HorizontalMenuColumnsLayout,
.root:hover > HorizontalMenuGridLayout,
.root:focus > HorizontalMenuGridLayout,
.root:focus-within > HorizontalMenuGridLayout {
  display: flex;
}
