:import {
  -st-from: "../horizontal-menu-column-layout/HorizontalMenuColumnLayout.st.css";
  -st-default: HorizontalMenuColumnLayout;
}

:import {
  -st-from: "../horizontal-menu-grid-layout/HorizontalMenuGridLayout.st.css";
  -st-default: HorizontalMenuGridLayout;
}

.root {
  -st-states: expandableSize(enum(column, menu));

  display: flex;
}

.menuItemLink {
  cursor: pointer;
}

.expandIcon {
  display: inline-block;
  margin-left: 8px;
}

.root:expandableSize(column) {
  position: relative;
}

.root > HorizontalMenuColumnLayout {
  flex: 1;
}

.root > HorizontalMenuGridLayout {
  flex: 1;
}
