@import "../ui/typography.scss";

.header {
  display: flex;
  height: 30px;
  margin-bottom: 12px;
  @include font(light);
  font-size: 13px;
  justify-content: flex-end;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }
}

.urlPreview {
  width: 260px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
  border: 1px solid #dfe5eb;
  padding: 4px 5px;
  font-size: 0.8em;
  margin-left: 30px;
  border-right: 0;
  color: #292929;
}

.copyButton {
  background: none;
  cursor: pointer;
  border: 1px solid rgb(223, 229, 235);
  height: 100%;
  border-radius: 0 3px 3px 0;
  padding: 0 10px 0 7px;
  font-size: 0.9em;
}

.closeButton {
  width: 24px;
  height: 24px;
  color: #000;
  border: 0;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.previewWarning {
  padding: 18px 42px 18px 24px;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFEBEB;
  border: 1px solid #FFD7D7;
  border-radius: 6px;
  @include font(light);
  color: #222;
  line-height: 1.2;
  font-size: 14px;

  h3 {
    margin: 0;
  }
}

.previewConfirmButton {
  padding-top: 1em;
  color: #222;
  line-height: 1.2;
  font-size: 13px;
  background-color: transparent;
  border-radius: 15px;
  border: solid 1px #7a92a5;
  color: #162d3d;
  @include font(roman);
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 18px;
  min-width: 72px;
  padding: 0 17px;
  transition: .2s ease all;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #32536a;
    border-color: #32536a;
  }
}

.overflowPreview {
  overflow: auto;
}
