@import "../ui/typography.scss";
@import "../LiveCodeExample/index.scss";

$border-radius: 3px;

.header {
  margin-bottom: 12px;
  height: 30px;
  @include font(light);
  font-size: 1$border-radius;
}

.saveSuccess {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  > div {
    display: flex;
    align-items: center;
  }
}

.urlPreview {
  width: 260px;
  height: 100%;
  box-sizing: border-box;
  border-radius: $border-radius 0 0 $border-radius;
  border: 1px solid #dfe5eb;
  padding: 4px 5px;
  font-size: 0.8em;
  margin-left: 30px;
  border-right: 0;
  color: #292929;
}

.copyButton {
  background: none;
  cursor: pointer;
  border: 1px solid rgb(223, 229, 235);
  height: 100%;
  border-radius: 0 $border-radius $border-radius 0;
  padding: 0 10px 0 7px;
  font-size: 0.9em;
}

.closeButton {
  width: 24px;
  height: 24px;
  color: #000;
  border: 0;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.previewWarning {
  @extend .error;
  position: relative;
  white-space: normal;

  > button {
    display: block;
    margin: 12px auto 0;
  }
}
