@import "../../ui/typography.scss";

$ivory: linear-gradient(256deg, #f6f6f6, #fefefe),
  linear-gradient(to bottom, rgba(240, 244, 247, 0.5), rgba(240, 244, 247, 0.5)),
  linear-gradient(to bottom, #ffffff, #ffffff);

.description {
  margin-bottom: calc(24px - 16px);

  :global .markdown-body p {
    @include font(light);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #162d3d;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.tr {
  &:nth-child(odd) {
    background-color: rgba(240, 244, 247, 0.42);
  }
}

.td {
  padding: 10px;

  a {
    @include font(light);
    font-size: 16px;
    line-height: 1.88em;
    color: rgb(56, 153, 236);
    text-decoration: none;

    &:hover {
      color: rgb(78, 183, 245);
    }
  }

}

.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
}

.table-markdown {
  @include font(light);
  font-size: 16px;
  line-height: 1.88em;

  p {
    margin: 0;
  }
}

.header {
  height: 281px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  overflow-y: hidden;
  &:before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 288px;
    background-image: $ivory;
    z-index: -1;
    border-bottom: 1px solid #cbd3dc;
  }
  margin-bottom: 30px;
  .title {
    @include font(medium);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33;
    color: #162d3d;
  }
  .header-layout {
    margin: 30px 0;
    .title, .links {
      display: flex;
      align-items: flex-end;
    }
    .links {
      justify-content: flex-end;
    }
    .link {
      @include font(thin);
      margin-left: 30px;
      display: flex;
      align-items: center;
      color: #3899ec;
      * {
        padding-left: 8px;
      }
      a {
        text-decoration: none;
        color: #3899ec;
      }
    }
  }
  .component {
    padding-top: 30px;
  }
}