@import "../../ui/typography.scss";

.description {
  margin-bottom: calc(24px - 16px);
  @include font(light);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #162d3d;
}

.import {
  margin: 30px 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.tr {
  &:nth-child(odd) {
    background-color: rgba(240, 244, 247, 0.42);
  }
}
