:import {
  -st-from: "../../src/components/CircularProgressBar/CircularProgressBar.st.css";
  -st-default: CircularProgressBar;
}

:import {
  -st-from: "../../src/components/CircularProgressBar/CircularProgressBar.st.css";
  -st-named: progressIndicator, statusIndicator, foreArc, backArc;
}

.root {
  -st-extends: CircularProgressBar;
}

.root::statusIndicator, .root::progressIndicator {
  color: rgb(50,83,106);
}

.root::backArc {
  stroke: rgb(193,228,254);
}

.root::foreArc {
  stroke: rgb(43,129,203);
}

.root:error::backArc {
  stroke: rgb(231, 182, 182);
}

.root:error::foreArc {
  stroke: rgb(223, 61, 61);
}

