:import {
    -st-from: "./Badge.st.css";
    -st-default: Badge;
}

:import {
    -st-from: "./BadgeStyleMixins.st.css";
    -st-named: BadgeLayoutStyle, BadgeColorStyle;
}

:vars {
    backgroundColor: grey;
    borderColor: grey;
    color: white;
    padding: 5px 12px;
}

.root {
    -st-extends: Badge;
    -st-mixin:
            BadgeColorStyle(
                    borderColor value(borderColor),
                    backgroundColor value(backgroundColor),
                    color value(color)
            ),
            BadgeLayoutStyle(padding value(padding), uppercase value(uc));
}
