.root {
  -st-states: disabled, highlighted, selected;
  cursor: pointer;
}

.root:hover:not(:disabled) {
  background: lightgrey 
}

.root:highlighted {
  background: darkgrey;
}

.root:disabled {
  color: grey;
  cursor: default;
}

.root:selected {
  font-weight: bold;
}
