:import {
    -st-from: "../../baseComponents/InputWithOptions/InputWithOptions.st.css";
    -st-default: InputWithOptions;
}

.root {
    -st-extends: InputWithOptions;
}

.addressOption {
    display: flex;
}

.addressIconWrapper {
    display: flex;
    align-items: center;
    padding: 0 6px;
}

.addressIcon {

}