@import '../ui/colors.scss';

.placeholder {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.light {
  border: 1px dashed $D80;
  color: $D80;
}

.dark {
  border: 1px dashed $D10;
  color: $D10;
}

.stack {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 30px;
}