
@namespace "bo-buttontwo";

:import {
  -st-from: "../../../../src/hocs/Focusable/Focusable.st.css";
  -st-default: Focusable;
  -st-named: focus-box;
}

:import {
  -st-from: "../theme.st.css";
  -st-default: BOTheme;
}

:import {
  -st-from: "../../../components/ButtonV2/buttonTwo.st.css";
  -st-default: Button;
}

:import {
    -st-from: '../colors.st.css';
    -st-named: B10, F00, B20, D55,R10,R20,P10,P20, G10, G20,D80
}

.textButton {
  -st-extends: Button;
}
.iconButton {
  -st-extends: Button;
}


BOTheme Button {
  -st-extends: Focusable;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  border: 2px solid;
  
  outline: none;
  transition: all 100ms linear;

  height: 36px;
  border-radius: 18px;
  padding: 0 23px;

  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

BOTheme Button:focus {
     -st-mixin: focus-box;
     border: solid 2px value(F00);
}

BOTheme Button:focus-visible {
      border: solid 2px value(F00);
}


BOTheme Button:hover {
  background-color: value(B20);
  border-color: value(B20);
}

/* affixes */
BOTheme Button :not(:last-child) {
  margin-right: 12px;
}

/* rtl */
BOTheme :global([dir="rtl"]) Button :not(:last-child),
:global([dir="rtl"]) BOTheme Button :not(:last-child),
:global([dir="rtl"])BOTheme Button :not(:last-child) {
  margin-left: 12px;
  margin-right: 0;
}

/* disabled */
BOTheme Button:disabled {
  background-color: value(D55);
  border-color: value(D55);
}

/* error */
BOTheme Button:error {
  background-color: value(R10);
  border-color: value(R10);
}

BOTheme Button:error:hover {
  background-color: value(R20);
  border-color: value(R20);
}

/* sizes */
BOTheme .large {
  height: 42px;
  border-radius: 21px;
  padding: 0 29px;
}

BOTheme .small {
  height: 30px;
  border-radius: 15px;
  padding: 0 17px;
}

/* skins */
BOTheme .premium {
  background-color: value(P10);
  border-color: value(P10);
  color: value(D80);
}

BOTheme .premium:hover {
  background-color: value(P20);
  border-color: value(P20);
}

BOTheme .success {
  background-color: value(G10);
  border-color: value(G10);
  color: value(D80);
}

BOTheme .success:hover {
  background-color: value(G20);
  border-color: value(G20);
}
