:import {
  -st-from: '../theme.st.css';
  -st-default: BackofficeTheme;
}

:import {
  -st-from: '../../../components/button-next/button-next.st.css';
  -st-default: Button;
  -st-named: suffix, prefix;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: B10, F00, B20, D55, R10, R20, P10, P20, G10, G20, D80, B50, D40,
    D10, D20, B40, F00;
}

:import {
  -st-from: '../shadows.st.css';
  -st-named: s5, s6, s7;
}

:import {
  -st-from: "../text.st.css";
  -st-named: sizeTiny, sizeSmall, sizeMedium, weightNormal, weightBold;
}

.button {
  -st-extends: Button;
}

@st-scope BackofficeTheme {
  .button {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid;

    -st-mixin: sizeMedium, weightNormal;

    outline: none;
    transition: all 100ms linear;

    height: 36px;
    border-radius: 18px;
    padding: 0 23px;

    background-color: value(B10);
    border-color: value(B10);
    color: value(D80);
  }

  .button:hover:not(:disabled) {
    background-color: value(B20);
    border-color: value(B20);
    color: value(D80);
  }

  .button:active:not(:disabled) {
    background-color: value(B10);
    border-color: value(B10);
    color: value(D80);
  }

  .button:disabled {
    color: value(D80);
    background-color: value(D55);
    border-color: value(D55);
  }

  .button:focus-visible {
    box-shadow: 0 0 0 3px value(F00);
  }

  /* Special cases */

  .inverted {
    border: none;
    background-color: value(D80);
    color: value(B20);
  }

  .inverted:hover:not(:disabled) {
    color: value(D80);
    border-color: transparent;
    background-color: value(B20);
  }

  .inverted:active:not(:disabled) {
    background-color: value(B10);
    border-color: value(B10);
    color: value(D80);
  }

  .inverted:disabled {
    background-color: value(B20);
    border-color: value(B20);
    color: value(D80);
  }

  /* Priority */

  .secondary {
    border: solid 1px value(B10);
    background: transparent;
    color: value(B10);
  }

  .secondary:hover:not(:disabled) {
    color: value(D80);
    border-color: transparent;
    background-color: value(B20);
  }

  .secondary:active:not(:disabled) {
    background-color: value(B10);
    border-color: value(B10);
    color: value(D80);
  }

  /* skin Light */

  .light {
    border: none;
    background-color: value(D80);
    color: value(B20);
  }

  .light:hover:not(:disabled) {
    background-color: value(B50);
    color: value(B10);
    border-color: value(B50);
  }

  .light:active:not(:disabled) {
    background-color: value(B40);
    color: value(B10);
  }

  .light:disabled {
    background-color: value(D55);
    border-color: value(D55);
    color: value(D80);
  }

  /* skin Light secondary */

  .light.secondary {
    border: solid 1px value(D80);
    background: transparent;
    color: value(D80);
  }

  .light.secondary:hover:not(:disabled) {
    background-color: value(B50);
    color: value(B10);
    border-color: value(B50);
  }

  .light.secondary:active:not(:disabled) {
    background-color: value(B40);
    border: solid 1px value(B40);
    color: value(B10);
  }

  .light.secondary:disabled {
    border-color: value(D55);
    color: value(D55);
    background-color: transparent;
  }

  /* skin Destructive */

  .destructive {
    background-color: value(R10);
    border-color: value(R10);
    color: value(D80);
  }

  .destructive:hover:not(:disabled) {
    background-color: value(R20);
    border-color: value(R20);
    color: value(D80);
  }

  .destructive:disabled {
    color: value(D80);
    background-color: value(D55);
    border-color: value(D55);
  }

  .destructive:active:not(:disabled) {
    background-color: value(R10);
    border-color: value(R10);
    color: value(D80);
  }

  /* skin Destructive secondary */

  .destructive.secondary {
    border: solid 1px value(R10);
    background: transparent;
    color: value(R10);
  }

  .destructive.secondary:hover:not(:disabled) {
    background-color: value(R20);
    border-color: value(R20);
    color: value(D80);
  }

  .destructive.secondary:active:not(:disabled) {
    background-color: value(R10);
    border-color: value(R10);
    color: value(D80);
  }

  .destructive.secondary:disabled {
    border-color: value(D55);
    color: value(D55);
    background-color: transparent;
  }

  /* skin Premium */

  .premium {
    background-color: value(P10);
    border-color: value(P10);
    color: value(D80);
  }

  .premium:hover:not(:disabled) {
    background-color: value(P20);
    border-color: value(P20);
    color: value(D80);
  }

  .premium:active:not(:disabled) {
    background-color: value(P10);
    border-color: value(P10);
    color: value(D80);
  }

  .premium:disabled {
    background-color: value(D55);
    border-color: value(D55);
    color: value(D80);
  }

  /* skin Premium secondary */

  .premium.secondary {
    border: solid 1px value(P10);
    background: transparent;
    color: value(P10);
  }

  .premium.secondary:hover:not(:disabled) {
    background-color: value(P20);
    border-color: value(P20);
    color: value(D80);
  }

  .premium.secondary:active:not(:disabled) {
    background-color: value(P10);
    border-color: value(P10);
    color: value(D80);
  }

  .premium.secondary:disabled {
    border-color: value(D55);
    background-color: transparent;
    color: value(D55);
  }

  /* skin Dark */

  .dark {
    background-color: transparent;
    border: solid 1px value(D40);
    color: value(D10);
  }

  .dark:hover:not(:disabled) {
    color: value(D80);
    background-color: value(D20);
    border-color: value(D20);
  }

  .dark:active:not(:disabled) {
    background-color: value(D10);
    border-color: value(D10);
    color: value(D80);
  }

  .dark:disabled {
    background-color: transparent;
    border: solid 1px value(D55);
    color: value(D55);
  }

  /* skin Dark secondary */

  .dark.secondary {
    background-color: transparent;
    border: solid 1px value(D40);
    color: value(D10);
  }

  .dark.secondary:hover:not(:disabled) {
    color: value(D80);
    background-color: value(D20);
    border-color: value(D20);
  }

  .dark.secondary:active:not(:disabled) {
    background-color: value(D10);
    border-color: value(D10);
    color: value(D80);
  }

  .dark.secondary:disabled {
    background-color: transparent;
    border: solid 1px value(D55);
    color: value(D55);
  }

  /* skin Transparent */

  .transparent {
    border-color: transparent;
    background-color: value(s5);
    color: value(D80);
  }

  .transparent:hover:not(:disabled) {
    border-color: transparent;
    background-color: value(s6);
    color: value(D80);
  }

  .transparent:active:not(:disabled) {
    background-color: value(s7);
    border-color: value(s7);
    border-color: transparent;
  }

  .transparent:disabled {
    background-color: value(D55);
    border-color: value(D55);
    color: value(D80);
  }

  /* skin Transparent secondary */

  .transparent.secondary {
    border-color: transparent;
    background-color: value(s5);
    color: value(D80);
  }

  .transparent.secondary:hover:not(:disabled) {
    border-color: transparent;
    background-color: value(s6);
    color: value(D80);
  }

  .transparent.secondary:active:not(:disabled) {
    background-color: value(s7);
    border-color: value(s7);
    border-color: transparent;
  }

  .transparent.secondary:disabled {
    background-color: value(D55);
    border-color: value(D55);
    color: value(D80);
  }

  /* sizes */

  .large {
    height: 42px;

    -st-mixin: sizeMedium, weightNormal;

    border-radius: 21px;
    padding: 0 30px;
  }

  .small {
    height: 30px;

    -st-mixin: sizeSmall, weightNormal;

    border-radius: 15px;
    padding: 0 18px;
  }

  .tiny {
    height: 24px;

    -st-mixin: sizeTiny, weightBold;

    border-radius: 18px;
    padding: 0 12px;
  }

  /* Suffix and prefix */

  .tiny .suffix {
    margin: 0 -6px 0 3px;
    width: 18px;
    height: 18px;
  }

  .tiny .prefix {
    margin: 0 3px 0 -6px;
    width: 18px;
    height: 18px;
  }

  .small .suffix {
    margin: 0 -6px 0 6px;
    width: 18px;
    height: 18px;
  }

  .small .prefix {
    margin: 0 6px 0 -6px;
    width: 18px;
    height: 18px;
  }

  .suffix {
    margin: 0 -12px 0 6px;
    width: 24px;
    height: 24px;
  }

  .prefix {
    margin: 0 6px 0 -12px;
    width: 24px;
    height: 24px;
  }

  .large .suffix {
    margin: 0 -12px 0 12px;
    width: 24px;
    height: 24px;
  }

  .large .prefix {
    margin: 0 12px 0 -12px;
    width: 24px;
    height: 24px;
  }

  /* rtl */

  :global([dir='rtl']) .large .suffix {
    margin: 0 12px 0 -12px;
  }

  :global([dir='rtl']) .large .prefix {
    margin: 0 -12px 0 12px;
  }

  :global([dir='rtl']) .small .suffix {
    margin: 0 6px 0 -6px;
  }

  :global([dir='rtl']) .small .prefix {
    margin: 0 -6px 0 6px;
  }

  :global([dir='rtl']) .suffix {
    margin: 0 12px 0 -12px;
  }

  :global([dir='rtl']) .prefix {
    margin: 0 -12px 0 12px;
  }

  :global([dir='rtl']) .tiny .suffix {
    margin: 0 0 0 -6px;
  }

  :global([dir='rtl']) .tiny .prefix {
    margin: 0 -6px 0 0;
  }
}