.root {
    -st-states: verticalAlignment(enum(bottom, center, top)), rtl;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.root:verticalAlignment(bottom) {
    align-items: flex-end;
}

.root:verticalAlignment(center) {
    align-items: center;
}

.root:verticalAlignment(top) {
    align-items: flex-start;
}

.root:rtl {
    flex-direction: row-reverse;
}
