:import {
  -st-from: "./HBox.st.css";
  -st-default: HBox;
}

:vars {
  rootWidth: initial;
  rootHeight: initial;
}

.root {
  -st-extends: HBox;
  width: value(rootWidth);
  height: value(rootHeight);
}
