:import {
  -st-from: "./typography.st.css";
  -st-named: fontMedium;
}

.h6 {
  font-family: value(fontMedium);
  font-size: 10px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
