:vars {
  opacity06: rgba(255, 255, 255, 0.06);
  opacity12: rgba(255, 255, 255, 0.12);
  opacity18: rgba(255, 255, 255, 0.18);
  opacity24: rgba(255, 255, 255, 0.24);
  opacity30: rgba(255, 255, 255, 0.30);
  opacity36: rgba(255, 255, 255, 0.36);
  opacity42: rgba(255, 255, 255, 0.42);
  opacity48: rgba(255, 255, 255, 0.48);
  opacity66: rgba(255, 255, 255, 0.66);
  opacity90: rgba(255, 255, 255, 0.90);
  opacity96: rgba(255, 255, 255, 0.96);
}
