:import {
  -st-from: "./typography.st.css";
  -st-named: fontLight, fontRoman, fontMedium;
}

:import {
  -st-from: './colors.st.css';
  -st-named: D80;
}

.sizeMedium {
  font-size: 16px;
  line-height: 24px;
}

.sizeSmall {
  font-size: 14px;
  line-height: 18px;
}

.sizeTiny {
  font-size: 12px;
  line-height: 15px;
}

.weightThin {
  font-family: value(fontLight); /* IE11 */
  font-family: var(--wsr-font-family, value(fontLight));
  font-weight: 400; /* IE11 */
  font-weight: var(--wsr-font-weight-thin, 400);
}

.weightNormal {
  font-family: value(fontRoman); /* IE11 */
  font-family: var(--wsr-font-family, value(fontRoman));
  font-weight: 400; /* IE11 */
  font-weight: var(--wsr-font-weight-normal, 400);
}

.weightBold {
  font-family: value(fontMedium); /* IE11 */
  font-family: var(--wsr-font-family, value(fontMedium));
  font-weight: 400; /* IE11 */
  font-weight: var(--wsr-font-weight-bold, 400);
}

.light {
  color: value(D80);
}
