@import "../common.scss";

.root {
  @extend .commonText;
  display: inline-flex;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #3899EC;

  &:hover {
    color: #4EB7F5;
  }
}

.prefix {
  padding: 0 6px 0 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
