@import "../common.scss";
@import "../ui/colors.scss";
@import "../ui/typography.scss";

.root {
  @include font();
  @include fontWeight(regular);
  @extend .commonText;
  display: inline-flex;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: $B10;

  &:not(.disabled):hover {
    color: $B20;
  }
}

.prefix {
  padding: 0 6px 0 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}

.disabled { 
  color: #333;
  cursor: default;
}
